{% extends "groups/group_base.html" %}

{% block pregroup %}


<h1>{{group.name}}</h1>
<h2> Member Count: {{group.members.count}}</h2>

  <div>


				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" ><span >Leave</span></a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}"><span>Join</span></a>
				{% endif %}
</div>

{% endblock %}


{% block group_content %}

<div>
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
